body.mdl-nem {
  margin: 0;
  padding: 0;
}

.mdl-nem {
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

.mono-space {
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}

.mono-space-command {
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}

.vertical-align-middle {
  vertical-align: middle;
  padding-bottom: 3px;
}
